@model LoginViewModel
<div>
    <h2> Log in: </h2>
    <form asp-controller="Account" method="post">
        <span>Username: </span> <br />
        <input asp-for="Username" type="text"/> <br />
        <span>Password: </span> <br />
        <input asp-for="Password" type="password"/> <br />
        <button type="submit"> Log in </button>
    </form>

    @if ( ViewData["FaildLogin"] != null )
    {
        <div> style="font-size: 10px;"> @ViewData["FailedLogin"] </div>
    }

        <div>
            @Html.ActionLink("Register here", "Register", "Account")
        </div>
</div>